
ProjectDesignPatern/.vs/ProjectDesignPatern/v16/TestStore/0/000.testlog
ProjectDesignPatern/.vs/ProjectDesignPatern/v16/TestStore/0/testlog.manifest
ProjectDesignPatern/ProjectDesignPatern/obj/ProjectDesignPatern.csproj.nuget.g.props
ProjectDesignPatern/ProjectDesignPatern/obj/ProjectDesignPatern.csproj.nuget.dgspec.json
ProjectDesignPatern/ProjectDesignPatern/obj/project.nuget.cache
ProjectDesignPatern/ProjectDesignPatern/obj/project.assets.json
ProjectDesignPatern/ProjectDesignPatern/obj/Debug/netcoreapp3.1/ProjectDesignPatern.pdb
ProjectDesignPatern/ProjectDesignPatern/obj/Debug/netcoreapp3.1/ProjectDesignPatern.dll
ProjectDesignPatern/ProjectDesignPatern/obj/Debug/netcoreapp3.1/ProjectDesignPatern.csprojAssemblyReference.cache
ProjectDesignPatern/ProjectDesignPatern/obj/Debug/netcoreapp3.1/ProjectDesignPatern.csproj.FileListAbsolute.txt
ProjectDesignPatern/ProjectDesignPatern/obj/Debug/netcoreapp3.1/ProjectDesignPatern.csproj.CoreCompileInputs.cache
ProjectDesignPatern/ProjectDesignPatern/obj/Debug/netcoreapp3.1/ProjectDesignPatern.assets.cache
ProjectDesignPatern/ProjectDesignPatern/bin/Debug/netcoreapp3.1/ProjectDesignPatern.runtimeconfig.dev.json
ProjectDesignPatern/ProjectDesignPatern/bin/Debug/netcoreapp3.1/ProjectDesignPatern.pdb
ProjectDesignPatern/ProjectDesignPatern/bin/Debug/netcoreapp3.1/ProjectDesignPatern.dll
ProjectDesignPatern/.vs/ProjectDesignPatern/v16/.suo
ProjectDesignPatern/ProjectDesignPatern/obj/Debug/netcoreapp3.1/ProjectDesignPatern.pdb
ProjectDesignPatern/ProjectDesignPatern/obj/Debug/netcoreapp3.1/ProjectDesignPatern.dll
ProjectDesignPatern/ProjectDesignPatern/bin/Debug/netcoreapp3.1/ProjectDesignPatern.pdb
ProjectDesignPatern/ProjectDesignPatern/bin/Debug/netcoreapp3.1/ProjectDesignPatern.dll
ProjectDesignPatern/.vs/ProjectDesignPatern/v16/.suo
